@media (min-width: 600px) {
    .navbar-nav .nav-item {
        padding: 0 1px;
        border-left: 1px solid beige;
        text-align: center;
        min-width: 110px;
    }
    .site-header .navbar-nav .nav-link {
        color: #5cc6ed;
        margin-left: 16px;
    }
    .empresas-hover:hover {
        background-color: #2E3192 !important;
        color: #fff !important;
    }
    .site-header .navbar-nav .nav-link:hover {
        color: #00aeef;
        border-bottom: 3px solid #00aeef;
    }
    .site-header .navbar {
        background: white !important;
        border: 0 !important;
    }
}

.site-sidebar .logo {
    border: 0;
}